/*2nd part begins*/
.secondmain{
    min-height: 100vh;
    min-height: 100vh;
    background: url("../imgs/forest.png"),linear-gradient(violet,white);
    /*background-image: url("../imgs/cities.png");*/
    background-size: cover;
    text-align: center  ;
}
#newdiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-top: 4%;
    flex-wrap: wrap-reverse;
}

.data{
    flex-basis: 60%;
}

.tips{
    display: flex;
    margin-bottom: 44px;
    align-items: flex-end;
}

#firsttip{
    margin-top:25px;
}

.tips img{
    width:40px;
}

.tips h5{
    margin-left: 1vw;
}

.city{
    flex-basis: 40%;
}

.city h1{
    font-size: 3.7rem;
    text-align: left;
}

.data{
    text-align: center;
    margin-bottom: -30px;
}

.temp{
    font-size:11rem;
    margin:0 !important;
    animation-name: fade;
    animation-duration: 0.7s;
}

.climate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
}

.head{
    margin:0 !important;
    font-size: 2.8rem;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
    
}

.climateimg{
    height: 75px;
}

.desc{
    font-size:2rem;
}

/*more details button starts*/
.details{
    border: none;
    padding: 10px;
    width: 130px;
    height: 50px;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    font-weight: 600;
    border: 1px solid grey;
    border-radius: 8px;
    transition: border 0.2s;
    transition: box-shadow 0.3s;
}

.details:hover{
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
    border: none;
}
#details:active{
    opacity:0.9;
}
#details:focus{
    outline: none;
}
/*more details button ends*/

/*per day temp starts*/

.daysdiv{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    /* justify-items: center; */
    justify-content: center;
   /* column-gap: 49px;*/  
    border-radius: 20px;
    width: fit-content;
    margin: auto;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
    margin-top:45px;
    cursor:pointer;
}

.days{
    /*background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);   */
    width: 10rem;
    height: 9rem;
   /* border-radius: 21px;*/
    padding-top: 10px;
    transition: box-shadow 0.2s;

}

.days:hover{
   border: 0.3px solid violet;
    border-radius: 20px;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
}

.icon{
    height: 38px;
}

.prevtemp{
    font-size: 32px;
    font-weight: 600;
}
/*per day temp ends*/

/*more details button*/
.hidden {
    display: none;
  }

  #moredetails {
    transition: all 0.5s ease-in-out;
  }
  .slide-in {
    transform: translateX(0);
    display: block;
  }
  
  /*2nd part ends*/

